/* di cosa mi occupo */
.shrink-section{
  padding: 0 5%;
  background-color: #EFEFEF;
  border-radius: 1vw;
}
.text-ambiti{
  padding: 3%;
}
ul{
  list-style-type: none;
  padding: 1vw 0;

}
