/* section and heading */
.shrink-section{
  padding: 3%;
  background-color: #EFEFEF;
  border-radius: 2vw;
}


/* di cosa mi occupo */
.text-ambiti{
  padding: 6%;
}


.myColumn{
  width: 18rem;
  padding: 5%;
  height: 8rem;
  background-color: grey;
  border-radius: 1.2vw;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myColumn .cursive-style{
  color: #f19b06;
  font-size: 1.4rem;
  line-height: 1.4;
}

.myColumn h3{
  margin-bottom: 0;
}

/* first section */
.cases{
  background-color: #EFEFEF;
  padding: 7%;
  border-radius:2vw;
  width: 97%;
  height: 97%;
  margin: auto;
  font-size: 1.1rem;
}

.cases li{
  padding-bottom: 2%;
}

#perizia,#ps-scolastica,#casi-clinici .cursive-style{
  text-align: left;
  line-height: 1.4;
  font-size: 1.1rem;
  font-weight: 700;
}

#perizia,#ps-scolastica,#casi-clinici .md-heading{
  text-transform: uppercase;
}

#ps-scolastica .myImage{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
}
