body {
  font-family: 'Montserrat';
  text-align: center;
}


.imgLogo {
  padding: 7% 2% 7%;
  line-height: 20px;
  margin: auto;
  width: 50%;
}

/* sections and containers */
.container-fluid {
  padding: 4% 15%;
}

.colored-section {
  background-color: #F4FDFE;
  text-align: left;
}

.white-section {
  background-color: white;
  text-align: left;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.7rem;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #f19b06;
  padding: 3%;
}

.white-section .big-heading{
  color: #3ca3ab;
  line-height:0.7;
}

.new-md-heading{
  font-family: 'Merriweather', cursive;
  font-size: 1.3rem;
  line-height: .8;
  font-weight: 400;
  text-align: center;
  color: #f19b06;
  padding-bottom: 3%
}

.normal-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.md-heading {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #707070;
}

.cursive-style {
  font-family: 'Merriweather';
  color: #3ca3ab;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
}

/* navbar */
.myMenu {
  width: 80%;
}

.navbar-light .navbar-toggler-icon {
  padding-top: 10%;
  background-image: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #f19b06;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #3ca3ab;
}

.nav-item {
  font-weight: 900;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-link .nav-item {
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
}

.bg-light {
  background-color: white !important;
  background: rgba(255, 255, 255, 0.88);
  box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.16);
}

/* submenu */
.mySubMenu .nav-link {
  font-size: .95rem;
  line-height: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

nav-label:focus {
  background-color: #3ca3ab;
}

.mySub {
  text-align: center;
}

.dropdown-menu {
  min-width: 100%;
}

/* slider articoli principali */
#slider {
  text-align: center;
}

.imgSlide {
  width: 90%;
  height: auto;
  margin:auto;
}

.slider-text {
  margin-top: 10%;
  font-size: 2rem;
  line-height: 1.5;
  font-family: 'Merriweather';
  font-weight: 400;
  color: #707070;
  position:relative;
}

/* slider di prova */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 2rem;
  font-weight: 700;
  color: #f19b06;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 2rem;
  font-weight: 700;
  color: #f19b06;
}
/* fine slider di prova */


#slider .container-fluid {
  padding-top: 3%;
}


em {
  font-family: 'Merriweather';
  font-weight: 300;
  color: #707070;
}

.text-general {
  color: #707070;
}

.carousel-control-prev-icon .carousel-control-next-icon {
  color: black;
}


/* Chi sono */
#about {
  font-size: 1rem;
  margin: auto;
  background-color: white;
}

.chiSono_image {
  width: 100%;
  height: auto;
  border-radius: 2vw;
  margin: 0 auto;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  width: 291px;
  height: 68px;
  border-radius: 34px;
  background: #fff;
  border: 2px solid #3ca3ab;
  margin: 20px auto;
  color: #3ca3ab;
}

.btn:hover {
  color: #f19b06;
  text-decoration: none;
}

/* TERAPIA */
.tr_image {
  width: auto;
  height: 70%;
  border-radius: 0.5vw;
  object-fit: cover;
}

/* ARTICOLI */
.article-column {
  padding: 2% 2%;
}

.article-text {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  color: #707070;
  text-transform: uppercase;
}

.card-header {
  background-color: white;
}

.card-title {
  color: #f19b06;
  font-weight: 700;
  font-family: Ubuntu;
  text-transform: uppercase;
  text-align: center;
}

.card {
  border-radius: 2vw;
  width: auto;
}

.card-header:first-child {
  border-radius: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* EVENTI E NEWS */
#eventNews {
  padding: 3% 2%;
}

/* FOOTER */
#footer{
  padding: 3%;
  text-align: center;
}

.footer-link {
  color: black;
}

.footer-link:hover {
  color: #707070;
}

.my-footer {
  padding: 3% 6% 3%;

}
