@media screen (max-width: 480px){
 body {
  background: yellow;
 }
/* containers and sections */
/* Headings */
/* logo */
/* navigazione */
/* submenu */
/* slider */
.imgSlide{
  width: 30%;
}

.slider-text{
  font-size: 1rem;
}





}

@media screen and (min-width:481px) and (max-width: 768px){
 body {
  background: green;
 }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
 body {
  background: blue;
 }
}

@media screen and (min-width: 1025px)and (max-width: 1200px) {
 body {
  background: gray;
 }
}
