
@media (max-width: 480px){
  .big-heading {
    padding-top: 10px;
    font-size: 1.6rem;
    line-height: 1.2;
  }
}

@media (min-width: 768px){
.imgSlide{
max-width:50%;
}
/* sections */
.container-fluid {
  padding: 7% 15%;
}
/* Headings */
.cursive-style{
  font-weight:700;
}

}
